@import "@/styles/variables";

.countries {
  margin-bottom: 120px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: $accent;
  text-align: center;
  margin-bottom: 60px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.item {
  color: $accent;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;

  box-shadow: 4px 4px 15px 0 #d0d0d0;
  background: #fff;
}

.img {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
}

.link {
  padding: 30px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  gap: 5px;
}

.icon-flag {
  height: clamp(1.25rem, 1.1121rem + 0.6897vw, 1.75rem);
}

.icon-arrow {
  height: clamp(0.5625rem, 0.4763rem + 0.431vw, 0.875rem);
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;
  width: inherit;
  max-width: inherit;
  font-weight: bold;
}

body[dir="rtl"] .name {
  display: flex;
  align-items: center;
  gap: 8px;
}

body[dir="rtl"] .icon-arrow {
  rotate: 180deg;
}

@media (max-width: 550px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
